@page "/registration"
<link href="css/components/General.css" rel="stylesheet" />
<link href="css/components/authorization.css" rel="stylesheet"/>
<div id="registration-page" class="page-container hidden">
    <div class="auth-form-container">
        <h2>Регистрация</h2>
        <form action="/register" method="post" id="registration-form">
            <div class="form-group">
                <label for="reg-name">Имя:</label>
                <input type="text" id="reg-name" name="name" required>
            </div>
            <div class="form-group">
                <label for="reg-username">Логин:</label>
                <input type="text" id="reg-username" name="username" required>
            </div>
            <div class="form-group">
                <label for="reg-password">Пароль:</label>
                <input type="password" id="reg-password" name="password" required>
            </div>
            <button type="submit" class="btn-primary">Зарегистрироваться</button>
        </form>
        <div class="auth-switch">
            <p>Уже есть аккаунт?</p>
            <a href="#login" class="btn-secondary">Войти</a>
        </div>
    </div>
</div>

@code {

}
