
.transaction-form-container {
    background-color: var(--card-background);
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 500px;
}

#add-transaction-title {
    text-align: center;
    margin-bottom: 25px;
}

.transaction-form-container .form-group {
    margin-bottom: 15px;
}

.transaction-form-container textarea {
    min-height: 80px;
}

.btn-add-transaction {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color var(--transition-speed);
}

    .btn-add-transaction:hover {
        background-color: var(--primary-hover-color);
    }


/* Окно Добавления Транзакции (Add Transaction) */

.transaction-form-container {
    background-color: var(--card-background);
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 500px;
}

#add-transaction-title {
    text-align: center;
    margin-bottom: 25px;
}

.transaction-form-container .form-group {
    margin-bottom: 15px;
}

.transaction-form-container textarea {
    min-height: 80px;
}
