@using Microsoft.AspNetCore.Components.Routing
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<base href="/" />
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="~/js/chartJsInterop.js"></script>
</head>
<body>
	<script src="_framework/blazor.server.js"></script>
	<Router AppAssembly="@typeof(Program).Assembly">
		<Found Context="routeData">
			<RouteView RouteData="routeData" />
		</Found>
	</Router>
</body>
</html>

@code {

}
