@page "/transactions"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
<link href="app.css" rel="stylesheet" />
<div id="add-transaction-page" >
        <div class="transaction-form-container">
            <h2 id="add-transaction-title">Добавить запись</h2> 
                <input type="hidden" id="transaction-plan-id"> 
				<input type="hidden" id="transaction-category-id"> 

                <div class="form-group">
                    <label for="transaction-type">Тип:</label>
                    <select id="transaction-type" name="transactionType" class="category-type" required>
                        <option value="expense">Расход</option>
                        <option value="income">Доход</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="transaction-amount">Сумма:</label>
                    <input type="number" id="transaction-amount" name="transactionAmount" placeholder="0.00" required>
                </div>
                <div class="form-group">
                    <label for="transaction-comment">Комментарий:</label>
                    <textarea id="transaction-comment" name="transactionComment" rows="3" placeholder="Например: Покупка продуктов"></textarea>
                </div>

                <div class="form-actions">
                <button @onclick="@(() => RedirectToPage("transactions"))" class="btn-primary">Сохранить</button>
                <button @onclick="@(() => RedirectToPage("home"))" class="btn-secondary" id="cancel-transaction-btn">Отмена</button>
                </div>
        </div>
    </div>

@code {
    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
    void RedirectAndSaveData()
    {
        //DB
    }
}
