@page "/create-plan-group"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
@inject PlansService Service
<link href="app.css" rel="stylesheet" />
<div id="plan-form-page">
    <div class="plan-form-container">
        <h2 id="plan-form-title">Создать план</h2>
        <input type="hidden" id="plan-id" name="planId">

        <div class="form-group">
            <label for="plan-name">Название плана:</label>
            <input @bind-value="Plan.Name" type="text" id="plan-name" name="planName">
            <label for="planned-amount">Название плана:</label>
            <input @bind-value="Plan.PlannedAmmount" type="number" id="planned-amount" name="plannedAmount">
        </div>

        <div class="form-group date-range-picker">
            <label>Срок плана:</label>
            <div class="date-inputs">
                <div>
                    <label for="plan-start-date">С:</label>
                    <input @bind-value="Plan.StartDate" type="date" id="plan-start-date" name="planStartDate">
                </div>
                <div>
                    <label for="plan-end-date">До:</label>
                    <input @bind-value="Plan.EndDate" type="date" id="plan-end-date" name="planEndDate">
                </div>
            </div>
        </div>


        <div class="form-actions">
            <button @onclick="@(() => Create())" class="btn-primary" id="save-plan-btn">Создать</button>
            <button @onclick="@(() => RedirectToPage($"home?user_id={Id}"))" class="btn-primary">Отмена</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "user_id")]
    public int Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "group_id")]
    public int GroupId { get; set; }
    Plan Plan { get; set; } = new Plan();
    // protected override async Task OnParametersSetAsync()
    // {
    //     await JSRuntime.InvokeVoidAsync("window.location.href", $"/home?user_id={Id}");
    // }
    public void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
    public void Create()
    {
        Plan.IsEnable = true;
        PlansService.CurrentPlan = Plan;
        Navigation.NavigateTo($"home?user_id={Id}&action=create");
    }
}