@page "/edit-plan"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
@inject PlansService Service
<link href="app.css" rel="stylesheet" />
<div id="plan-form-page">
    <div class="plan-form-container">
        <h2 id="plan-form-title">Создать план</h2>
        <input type="hidden" id="plan-id" name="planId">

        <div class="form-group">
            <label for="plan-name">Название плана:</label>
            <input @bind-value="planToEdit.Name" type="text" id="plan-name" name="planName">
        </div>

        <div class="form-group date-range-picker">
            <label>Срок плана:</label>
            <div class="date-inputs">
                <div>
                    <label for="plan-start-date">С:</label>
                    <input @bind-value="planToEdit.StartDate" type="date" id="plan-start-date" name="planStartDate">
                </div>
                <div>
                    <label for="plan-end-date">:</label>
                    <input @bind-value="planToEdit.EndDate" type="date" id="plan-end-date" name="planEndDate">
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button @onclick="@(() => Edit())" class="btn-primary" id="save-plan-btn">Сохранить</button>
            <button @onclick="@(() => RedirectToPage($"home?user_id={Id}"))" class="btn-secondary" id="cancel-plan-form-btn">Отмена</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "user_id")]
    public int Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "plan_id")]
    public int PlanId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "group_get")]
    public bool? IsGroupGet { get; set; }

    Plan planToEdit = new Plan();

    protected override async Task OnParametersSetAsync()
    {
        planToEdit = await Http.GetFromJsonAsync<Plan>($"api/plans/{PlanId}");
    }
    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
    void Edit()
    {
        if((bool)IsGroupGet)
        {
            PlansService.CurrentPlan = planToEdit;
            Navigation.NavigateTo($"group-plan?user_id={Id}&action=edit");
        }
        else
        {
            PlansService.CurrentPlan = planToEdit;
            Navigation.NavigateTo($"home?user_id={Id}&action=edit");
        }
    }
}
