@page "/edit-categoryS"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
@inject CategoriesService Service
<link href="app.css" rel="stylesheet" />

<div id="edit-category-page">
    <div class="edit-category-container">
        <h2 id="edit-category-title">Редактирование категории</h2>
            <div class="category-form">
                <div class="form-group">
                    <label class="category-name-label" for="category-name-input">Название категории:</label>
                    <input type="text" id="category-name-input" @bind-value="categoryToEdit.Name" class="form-control" required />
                </div>

                <div class="form-group">
                    <label class="category-budget-label" for="category-budget-input">Бюджет:</label>
                    <input type="number" id="category-budget-input" @bind-value="categoryToEdit.PlannedAmmount" class="form-control" required />
                </div>

                <div class="form-actions">
                    <button class="btn-save-category" @onclick="@(() => Edit())">Сохранить</button>
                    <button class="btn-cancel-edit" @onclick="@(() => RedirectToPage($"categories?user_id={Id}&plan_id={PlanId}"))">Отмена</button>
                </div>
            </div>
    </div>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name ="user_id")]
    public int Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "plan_id")]
    public int PlanId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "category_id")]
    public int CategoryId { get; set; }

    private Category categoryToEdit = new Category();

    protected override async Task OnParametersSetAsync()
    {
        categoryToEdit = await Http.GetFromJsonAsync<Category>($"api/categories/{CategoryId}");
    }
    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
    void Edit()
    {
        Service.CurrentCategory = categoryToEdit;
        Navigation.NavigateTo($"categories?user_id={Id}&plan_id={PlanId}&action={"edit"}");
    }
}
