@page "/group-plan" // Принимает ID группы
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
@inject PlansService PlansService
@inject GroupsService GroupsService

<link href="app.css" rel="stylesheet" />
<div id="group-plans-page">
    <header class="page-header">
        <button @onclick="@(() => RedirectToPage($"groups?user_id={Id}"))" class="btn-back">← Назад</button>
        <h1>План группы: </h1>
    </header>

    <main class="dashboard-content">
        <h2>Планы этой группы</h2>
        <div class="plans-table-container">
            <table id="plans-table">
                <thead>
                    <tr>
                        <th>Название плана</th>
                        <th>Срок</th>
                        <th>Статус</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </main>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "user_id")]
    public int Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name ="group_id")]
    public int GroupId { get; set; }

    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
}