@page "/"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
@inject UsersService Service
<link href="app.css" rel="stylesheet" />
<div id="login-page">
    <div class="auth-form-container">
        <h2>Sign In</h2>
            <div class="form-group">
                <label for="login-username">Login:</label>
                <input @bind-value="login" type="text" id="login-username" name="username" required>
            </div>
            <div class="form-group">
                <label for="login-password">Password:</label>
                <input @bind-value="password" type="password" id="login-password" name="password" required>
            </div>
            <button @onclick="@(() => Login())"  class="btn-primary">Sign In</button>
        <div class="auth-switch">
            <p>Don't have an account?</p>
            <button @onclick="@(() => RedirectToPage("registration"))" class="btn-secondary">Join Now</button>
        </div>
    </div>
</div>

@code {
    public string login { get; set; } = "Login";
    public string password { get; set; } = "";
    public List<User> BDUsers { get; set; } = new List<User> ();

    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }

    protected override async Task OnInitializedAsync()
    {
        Http.BaseAddress = new Uri("http://localhost:5169");
        if (Service.CurrentUser != null)
        {
            await Http.PostAsJsonAsync<User>("api/users",Service.CurrentUser);
        }
        BDUsers = await Http.GetFromJsonAsync<List<User>>("api/users");
    }
    public void Login()
    {
        if(!string.IsNullOrEmpty(login) && !string.IsNullOrEmpty(password)){  
            foreach(User u in BDUsers){
                if(login == u.Login && password == u.Password){
                    Navigation.NavigateTo($"home?user_id={u.Id}");
                }
            }
        }
        else{
            Navigation.NavigateTo("");
        }
    }
}
