@page "/"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
<link href="app.css" rel="stylesheet" />
<div id="login-page">
    <div class="auth-form-container">
        <h2>Please Sign In</h2>
            <div class="form-group">
                <label for="login-username">Login:</label>
                <input @bind-value="login" type="text" id="login-username" name="username" required>
            </div>
            <div class="form-group">
                <label for="login-password">Password:</label>
                <input @bind-value="password" type="password" id="login-password" name="password" required>
            </div>
            <button @onclick="@(() => Login())" class="btn-primary">Sign In</button>
        <div class="auth-switch">
            <p>Don't have an account?</p>
            <button @onclick="@(() => RedirectToPage("registration"))" class="btn-secondary">Join Now</button>
        </div>
    </div>
</div>

@code {
    string login = ""
    string password = ""
    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
    }
    public async Task Login()
    {
        if(!string.IsNullOrEmpty(login) && !string.IsNullOrEmpty(password){
            List<User> users = await Http.GetFromJsonAsync<List<User>>("api/users")    
            foreach(User u in users){
                if(login == u.Login && password == u.Password){
                    Navigation.NavigateTo("home")
                }
            }
        }
        else{
            Navigation.NavigateTo("")
        }
    }
}
