@page "/plan-info"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
<link href="app.css" rel="stylesheet" />
<div id="plan-details-page">
    <div class="plan-details-container">
        <h2 id="details-plan-title"></h2>
        <p id="details-plan-dates"></p>

        <h3>Категории:</h3>
        <div id="categories-details-list">
            <div class="category-detail-item">
                <div class="category-info">
                    <label class="category-name" for="plan-name">Название плана:</label>
                    <label class="category-name" type="date" id="plan-id" name="planId" required> </label>
                    <label class="category-budget" for="plan-budget">Бюджет:</label>
                    <label class="category-budget" type="date" id="plan-budget" name="planBudget" required></label>
                    <label class="category-spent" for="plan-spent">Потрачено:</label>
                    <label class="category-spent" type="date" id="plan-spent" name="planSpent" required></label>
                </div>
                <button class="btn-add-transaction" data-category-id="1">Добавить запись</button>
            </div>
        </div>
        <button @onclick="@(() => RedirectToPage("home"))" class="btn-secondary" id="back-to-main-btn">Назад</button>
    </div>
</div>

@code {
    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
}
