@page "/plan-info"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
<link href="app.css" rel="stylesheet" />
<div id="plan-details-page">
    <div class="plan-details-container">
        <h2 id="details-plan-title"></h2>
        <p id="details-plan-dates"></p>

        <h3>Категории:</h3>
        <div id="categories-details-list">
            <div class="category-detail-item">
                <div class="category-info">
                    <span class="category-name">Еда</span>
                    <span class="category-budget">Бюджет: 15000 руб.</span>
                    <span class="category-spent">Потрачено: 12000 руб.</span>
                </div>
                <button class="btn-add-transaction" data-category-id="1">Добавить запись</button>
            </div>
        </div>
        <button @onclick="@(() => RedirectToPage("home"))" class="btn-secondary" id="back-to-main-btn">Назад</button>
    </div>
</div>

@code {
    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
}
