@page "/registration"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
<link href="app.css" rel="stylesheet" />
<div id="registration-page">
    <div class="auth-form-container">
        <h2>Регистрация</h2>
            <div class="form-group">
                <label for="reg-name">Имя:</label>
                <input @bind-value="user.Nickname" type="text" id="reg-name" name="name" required>
            </div>
            <div class="form-group">
                <label for="reg-username">Логин:</label>
                <input @bind-value="user.Login" type="text" id="reg-username" name="username" required>
            </div>
            <div class="form-group">
                <label for="reg-password">Пароль:</label>
                <input @bind-value="user.Password"  type="password" id="reg-password" name="password" required>
            </div>
        <button @onclick="@(() => Reg())" class="btn-primary">Зарегистрироваться</button>
        <div class="auth-switch">
            <p>Уже есть аккаунт?</p>
            <a @onclick="@(() => RedirectToPage(""))" class="btn-secondary">Войти</a>
        </div>
    </div>
</div>

@code {
    User user = new User();
    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
    public async Task Reg(){
        if(!string.IsNullOrEmpty(user.Login) && !string.IsNullOrEmpty(user.Password) && !string.IsNullOrEmpty(user.Nickname)){
            var response = await Http.PostAsJsonAsync("api/users",user);
            Navigation.NavigateTo("");
        }
        else{
            Navigation.NavigateTo("registration");
        }
    }
}
